@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  min-height: 100%;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  width: 1200px;
}

.page-header-logo{
  display: block;
  width: 140px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 892px;
}

.navigation-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-list-item{
  padding: 20px 18px;
}

.navigation-user{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}



.main-index {
  background-color: #FFFFFF;
}

.main-description {
  color: #000000;
  background: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.description-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform: none;
}

.reasons-block {
  color: #000000;
  background: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  font-weight: 400;
}

.reasons-list {
  font-size: 18px;
  line-height: 21px;
}

.reasons-header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.reasons-visit {
  color: #FFFFFF;
  background-color: #82B3D3;
  ;

}

.resons-main {
  color: #000000;
  background-color: #FFFFFF;

}

.reasons-minor {
  color: #000000;
  background-color: #83B3D31F;
  ;

}

.interest-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interest-date {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter{
  background-image: url(../images/background-subscribe.jpg) no-repeat;
}

.newsletter-header {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.inner-header {
  color: #FFFFFF;
  background-color: #000000;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-hostels {
  color: #FFFFFF;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-hostels-card {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.found-hostels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hostl-card-categories {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hostl-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hero {
  background: url(../images/space-bar.svg) no-repeat bottom, url(../images/sedona-background.jpg) no-repeat center;
  display: flex;
  justify-content: center;
  width: 1200px;
  align-items: center;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.hostels-search {
  font-size: 20px;
  line-height: 36px;
}

.news-letter {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.product-favroite {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #82B3D3;
}

.pagination-link {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-light {
  color: #000000;
  background-color: #FFFFFF;
}

.footer-contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

.submit {
  background: #82B3D3;
}

.reset{

}

.reasons-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.reasons-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fact-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.real-city-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.devils-bridge-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.needs-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.visually-hidden{
overflow: hidden;
}
